// TODO
.container {
  max-width: 1120px;
  margin: 0 auto;
}

.postList {
  margin-top: 2rem;

}

.post {

  strong {
    font-size: 2rem;
    font-weight: bold;
    color: var(--heading)
  }

  p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  & + .post {
    margin-top: 3rem;
  }

  .author {
    margin-top: 1rem;


  }

  .fds_classe {
    margin-left: 1.5rem;
  }

}

.loadMore {
  color: var(--highlight);
  background: transparent;
  border: 0;
  width: 176px;
  height: 22px;
  margin-top: 1rem;


}
